{% extends 'easy2make/templates/base.html' %}

{% load bootstrap3 %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">

<div class="row" style="padding-bottom: 1rem;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Vendas</a></li>
        <li class="breadcrumb-item"><a href="#">Cadastrar</a></li>
    </ol>
</div>

<form action="#" role="form">       
    {% csrf_token %}
    <input type="hidden" id="id_venda">
    <div class="form-group">
        <label class="control-label" for="cliente">Cliente</label>
        <input type="text" name="cliente" maxlength="255" class="form-control" placeholder="Cliente" title="" required="" id="cliente">
    </div>
    
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th style="text-align:right"></th>
            </tr>
        </thead>
        <tbody id="tbody-cliente">

        </tbody>
    </table>

    <div class="form-group">
            <label class="control-label" for="descricao">Produto</label>
            <input type="text" name="descricao" maxlength="255" class="form-control" placeholder="Produto" title="" required="" id="descricao">
    </div>

    <table class="table table-striped table-sm">
            <thead class="black white-text">
                <tr><th colspan="3">Produtos</th></tr>
                <tr>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th class="col-sm-1" >Quantidade</th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody id="tbody-produto">

            </tbody>
    </table>
    <hr>
    <div class="pull-right">
        <label>Total:</label>
    </div>
    
    <input type="button" value="Processar Venda" class="btn btn-primary">

</form>

<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}" ></script>

<script>
    $("#cliente").autocomplete({
        source:function(request, response){
            $.ajax({
                type:'POST',
                headers: {'X-CSRFToken':$("input[name=csrfmiddlewaretoken]").val()},
                url: "/clientes/",
                data:{'nome' : request.term}
            }).done(function(data){
                
                response($.map(data.cliente_list, function(item){
                    return{
                        label: item.nome,
                        id: item.id,
                        cliente : item
                    }
                }));
            });
        },
        
        select:function(event, ui){
            var cliente = ui.item.cliente;

            var $tr = $("<tr/>");
            var $td = $("<td/>");
            var $i = $("<i/>").addClass('fa fa-trash cliente-remove').css('cursor','pointer');
            
            $tr.append($td.clone().append(cliente.nome))
               .append($td.clone().append(cliente.telefone))
               .append($td.clone().css('text-align','right').append($i))
               .appendTo($("#tbody-cliente"));
            
            $("#cliente").val("").attr('readonly', true);

            $.ajax({
                type:'POST',
                headers: {'X-CSRFToken':$("input[name=csrfmiddlewaretoken]").val()},
                url:'/vendas/adicionar/',
                accept:'application/json',
                data:{'cliente':cliente.id}
              }).done(function(response){
                  $("#id_venda").val(response.id);
              });

        },
            
        });

        $("#descricao").autocomplete({
            source:function(request, response){
                $.ajax({
                    type:'POST',
                    headers: {'X-CSRFToken':$("input[name=csrfmiddlewaretoken]").val()},
                    url: "/estoque/produtos/",
                    data:{'descricao' : request.term}
                }).done(function(data){
                    
                    response($.map(data.produto_list, function(item){
                        return{
                            label: item.descricao,
                            id: item.id,
                            produto:item
                        }
                    }));
                });
            },
            
            select:function(event, ui){
                
                var produto = ui.item.produto;
                var $input = $("<input/>").attr('type','number').val(1);
                var $tr = $("<tr/>");
                var $td = $("<td/>");
                var $i = $("<i/>").addClass('fa fa-trash produto-remove').css('cursor','pointer');
                
                $tr.append($td.clone().append(produto.descricao))
                   .append($td.clone().append(produto.preco))
                   .append($td.clone().append($input))
                   .append($td.clone().css('text-align','right').append($i))
                   .appendTo($("#tbody-produto"));

                $.ajax({
                    type:'POST',
                    headers: {'X-CSRFToken':$("input[name=csrfmiddlewaretoken]").val()},
                    url:'/vendas/itens/adicionar/',
                    accept:'application/json',
                    data:{'venda':$("#id_venda").val(), 'produto':produto.id, 'quantidade':1}
                }).done(function(response){
                    $tr.attr('id', response.id);
                    $("#descricao").val("");
                });

            },
                
        });

        $(document).ready(function(){
            
            $('#tbody-produto').on('click', '.produto-remove', function(){
                var id = $(this).parents().eq(1).attr('id');
                
                $.ajax({
                    type:'POST',
                    headers: {'X-CSRFToken':$("input[name=csrfmiddlewaretoken]").val()},
                    url:'/vendas/itens/remover/'+id+'/',
                    accept:'application/json',
                });
                
                $(this).parents().eq(1).remove();                
            });

            $('#tbody-cliente').on('click', '.cliente-remove', function(){
                var id = $("#id_venda").val();
                
                $.ajax({
                    type:'POST',
                    headers: {'X-CSRFToken':$("input[name=csrfmiddlewaretoken]").val()},
                    url:'/vendas/remover/'+id+'/',
                    accept:'application/json',
                });
                
                $(this).parents().eq(1).remove();
                $("#cliente").removeAttr('readonly');
                $('#tbody-produto').children().remove();                
            });

            $('#tbody-cliente').on('change', 'input[type=number]', function(){

                
            });

        });

</script> 
    
    
{% endblock %}