{% extends 'easy2make/templates/base.html' %}

{% load bootstrap3 %}

{% block content %}
    
    <div class="row" style="padding-bottom: 1rem;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'estoque:categoria-pesquisar' %}">Categoria</a></li>        </ol>
    </div>
   
    <a href="{% url 'estoque:categoria-adicionar' %}" >
            <button style="margin-bottom: 15px;" class="btn btn-primary">
                    Cadastrar
            </button>                
    </a>
 
    {% if object_list %}
        <table class="table table-bordered">
            <tr>
                <th>Descrição</th>
                <th></th>
            </tr>
            {% for object in object_list %}
            <tr>
                <td>{{object.descricao}}</td>
                <td>
                    <a href="{% url 'estoque:categoria-alterar' object.id %}">
                        Detalhes
                    </a>
                </td>  
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% include 'easy2make/templates/paginated.html' %}


{% endblock %}