{% extends 'easy2make/templates/base.html' %}

{% load bootstrap3 %}

{% block content %}

    <div class="row" style="padding-bottom: 1rem;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'estoque:produto-pesquisar' %}">Produto</a></li>
            <li class="breadcrumb-item"><a href="#">Pesquisar</a></li>
        </ol>
    </div>
    <form action="{% url 'estoque:produto-pesquisar' %}" role="form" method="get">
        {% csrf_token %}
        
        {% for field in form %}
            {% bootstrap_field field %}
        {% endfor %}
        
        {% buttons %}
            {% bootstrap_button "Pesquisar" button_type="submit" button_class="btn-primary" %}
            
            <a href="{% url 'estoque:produto-adicionar' %}" >
                    <button type="button" class="btn btn-primary">
                            Cadastrar
                    </button>                
            </a>
        {% endbuttons %}

    </form>

    {% if  object_list %}    

        <table class="table table-bordered">
            <tr>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th></th>
            </tr>
            {% for object in object_list %}
            <tr>
                <td>{{object.descricao}}</td>
                <td>{{object.preco}}</td>
                <td>{{object.quantidade}}</td>
                <td>
                    <a href="{% url 'estoque:produto-alterar' object.id %}">
                        Detalhes
                    </a>
                </td>  
            </tr>
            {% endfor %}
        </table>

    {% endif %}


    {% include 'easy2make/templates/paginated.html' %}


{% endblock %}